<h3>API for PERSONAL VOCABULARY</h3>

<a href="https://personal-vocabulary-beta.herokuapp.com/swagger">Link to swagger API</a>
<br>
<a href="https://personal-vocabulary-beta.herokuapp.com/sidekiq">Link to sidekiq backgroud work</a>
<br>
<a href="https://personal-vocabulary-beta.herokuapp.com/admin">Link to admin page</a>
